@import url('https://fonts.googleapis.com/css?family=Merriweather:300');
@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Poppins');

.timeline li:after, .tl-nav:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-family: 'Oxygen', sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

img {
  width: auto;
  height: auto;
  max-height: 100%;
}

h3 {
  font-size: 1.5vw;
  margin-top: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Merriweather', serif;
  font-weight: 300;
}
h4
{
  font-size: 24px;
  margin-top: -11px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
}
h5
{
  font-size: 22px;
  margin-top: 0;
  font-family: 'Merriweather', serif;
  font-weight: 300;
}
h6
{
  font-size: 15px;
  margin-top: 1%;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

/*** The timeline styles and structure ***/
.tl-wrapper {
  background: #061323;
  min-height: 1px;
  position: relative;
}

.timeline {
  position: relative;
  width: 100%;
  min-height: 1px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.timeline li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

/*** The items ***/
.tl-item {
  visibility: hidden;
  overflow: hidden;
  z-index: 0;
}
.tl-item .tl-copy {
  transition: 0.6s ease;
  -webkit-transform: translate3d(60%, 0, 0);
          transform: translate3d(60%, 0, 0);
}
.tl-item .tl-image {
  transition: 0.6s ease;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.tl-item.tl-active {
  visibility: visible;
  z-index: 10;
}
.tl-item.tl-active .tl-copy {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.tl-item.tl-active .tl-image {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.tl-image {
  float: left;
  width: 70%;
}
.tl-image img {
  display: block;
}

.tl-copy {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  padding: 1rem;
  background: #061323;
  color: #fff;
}
.tl-copy:after {
  content: "";
  position: absolute;
  bottom: 30px;
  left: -19px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 21px 20px 21px 0;
  border-color: transparent #061323 transparent transparent;
}

/*** The arrows for the items ***/
.tl-items-arrow-left,
.tl-items-arrow-right {
  position: absolute;
  top: 50%;
  width: 22px;
  height: 40px;
  top: 50%;
  z-index: 100;
}
.tl-items-arrow-left:before, .tl-items-arrow-left:after,
.tl-items-arrow-right:before,
.tl-items-arrow-right:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 28px;
  height: 2px;
  background: #fff;
}

.tl-items-arrow-left {
  right:29%;
}
.tl-items-arrow-left:before {
  top: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.tl-items-arrow-left:after {
  bottom: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.tl-items-arrow-right {
  right: 0;
}
.tl-items-arrow-right:before {
  top: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.tl-items-arrow-right:after {
  bottom: 0;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*** The nav's styles ***/
.tl-nav-wrapper {
  position: absolute;
  bottom: 10px;
  left: 0;
  margin: 0;
  padding: 16px 0 0 0;
  border-top: 2px solid #3f033c;
  overflow-x: hidden;
  width: 100%;
}
.tl-nav-wrapper:before, .tl-nav-wrapper:after {
  content: "";
  width: 38px;
  height: 86px;
  position: absolute;
  top: 17px;
  background:transparent;
  z-index: 50;
}
.tl-nav-wrapper:before {
  left: 0;
}
.tl-nav-wrapper:after {
  right: 0;
}

.no-csstransforms .tl-nav-wrapper {
  overflow-x: auto;
}

.tl-nav {
  list-style: none;
  margin: 0;
  padding-top: 16px;
  border-top: 1px dashed #289ecb;
  transition: all .4s ease;
}
.tl-nav li {
  width: 97px;
  height: 70px;
  position: relative;
  float: left;
  cursor: pointer;
  margin-right: 1rem;
  font-size: 16px;
  text-align: center;
}
.tl-nav li div {
  width: 95px;
  height: 43px;
  margin: auto;
  background: #1b0e4b;
  color: #fff;
  padding-top: 10px;
  border-radius: 1000px;
  transition: 0.6s ease;
}
.tl-nav li:hover div, .tl-nav li.tl-active div {
    width: 95px;
    height: 43px;
    background: transparent;
    color: #289ecb;
    border: 1px solid #289ecb;
    font-size: 16px;
    padding-top: 9px;
}
.tl-nav li:before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -2px;
  background: #289ecb;
  border-radius: 1000px;
}

/*** The nav's nav styles ***/
.tl-nav-arrow-left,
.tl-nav-arrow-right {
  position: absolute;
  width: 12px;
  height: 20px;
  top: 50%;
  z-index: 100;
}
.tl-nav-arrow-left:before, .tl-nav-arrow-left:after,
.tl-nav-arrow-right:before,
.tl-nav-arrow-right:after {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 2px;
  background: #289ecb;
}

.tl-nav-arrow-left {
  left: 9px;
}
.tl-nav-arrow-left:before {
  top: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.tl-nav-arrow-left:after {
  bottom: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.tl-nav-arrow-right {
  right: 9px;
}
.tl-nav-arrow-right:before {
  top: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.tl-nav-arrow-right:after {
  bottom: 0;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.no-csstransforms .tl-nav-arrow-left,
.no-csstransforms .tl-nav-arrow-right {
  display: none;
}
.progcont {
  height: 470px;
  width: 370px;
  margin-left: 4%;
  border: solid 2px;
  padding: 16px;
  border-radius: 7%;
}
a.acheter {
  /* text-align: center; */
  float: center;
  border: solid 3px white;
  padding: 13px;
  text-decoration: none;
  border-radius: 19px;
  color: white;
  font-size: 28px;
}
.btn-achat {
  position: absolute;
  text-align: center;
  left: 144px;
  bottom: 36px;
}
a.acheter:hover
{
  background-color: #1b0e4b;
  border-color:  white;
}